body
{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #3377FF;
    
}
.header
{
    top: 0px;
    height: 10%;
    width: 80%;
    position: fixed;
    border-top: none;
    border-left: #63EBC1;
    border-left-style: solid;
    border-right: #63EBC1;
    border-right-style: solid;
    border-bottom: #63EBC1;
    border-bottom-style: solid;
    border-width: 2px;
    background-color: #83C7EB;
    text-align: center;
    font-size: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.7);
    transition: 0.5s;
}

.header img
{
    width: 4%;
    height: auto;
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 1%;
    cursor: pointer;
    transition: 0.5s;
}
.header img:hover
{
    background-color: #54FF91;
    border-radius: 10%;
    transition: 0.5s;
}
a
{
    text-decoration: none;
    font-size: 30px;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #B0FCFF;
    justify-content: space-around;
    transition: 1s;
}
.header a
{
    cursor: default;
}

.contenido
{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.usuarios
{
    background-image: url('../img/Historias/usuarios/Usuario01.jpg');
    background-image: url('../img/Historias/usuarios/Usuario02.jpg');
    background-image: url('../img/Historias/usuarios/Usuario03.jpg');
    background-image: url('../img/Historias/usuarios/Usuario04.jpg');
    background-image: url('../img/Historias/usuarios/Usuario05.jpg');
    background-image: url('../img/Historias/usuarios/Usuario06.jpg');
    background-image: url('../img/Historias/usuarios/Usuario07.jpg');
    background-image: url('../img/Historias/usuarios/Usuario08.jpg');
    background-image: url('../img/Historias/usuarios/Usuario09.jpg');
    background-image: url('../img/Historias/usuarios/Usuario10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 10%;
    height: 15%;
    transform: translate(8em, 3.5em);
    animation-name: cambiarUsuarios;
    animation-duration: 20s;
    animation-iteration-count: infinite; 
    border: #83C7EB solid;
    border-width: 2px;
    position: relative;
}
.fondo
{
    border-color: #63EBC1;
    border-width: 2px;
    border-style: solid;
    height: 9em;
    text-align: center;
    border-radius: 20% 10% 10% 20%;
    transform: translate(3em,-4.5em);
    width: 85%;
    
}
.fondo h4
{
    transform: translateY(2em);
}
.imagenes
{
    background-image: url('../img/Historias/historiasUsuarios/foto01.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto02.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto03.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto04.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto05.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto06.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto07.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto08.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto09.jpg');
    background-image: url('../img/Historias/historiasUsuarios/foto10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    width: 57%;
    height: 52%;
    margin-top: 0em;
    transform: translate(11em, 1.2em);
    animation-name: cambiarFotos;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: row;
}

@keyframes cambiarUsuarios
{
    0% {background-image: url('../img/Historias/usuarios/Usuario01.jpg');}
    15% {background-image: url('../img/Historias/usuarios/Usuario02.jpg');}
    25% {background-image: url('../img/Historias/usuarios/Usuario03.jpg');}
    35% {background-image: url('../img/Historias/usuarios/Usuario04.jpg');}
    45% {background-image: url('../img/Historias/usuarios/Usuario05.jpg');}
    55% {background-image: url('../img/Historias/usuarios/Usuario06.jpg');}
    65% {background-image: url('../img/Historias/usuarios/Usuario07.jpg');}
    75% {background-image: url('../img/Historias/usuarios/Usuario08.jpg');}
    85% {background-image: url('../img/Historias/usuarios/Usuario09.jpg');}
    95% {background-image: url('../img/Historias/usuarios/Usuario10.jpg');}
}
@keyframes cambiarFotos
{
    0% {background-image: url('../img/Historias/historiasUsuarios/foto01.jpg');}
    15% {background-image: url('../img/Historias/historiasUsuarios/foto02.jpg');}
    25% {background-image: url('../img/Historias/historiasUsuarios/foto03.jpg');}
    35% {background-image: url('../img/Historias/historiasUsuarios/foto04.jpg');}
    45% {background-image: url('../img/Historias/historiasUsuarios/foto05.jpg');}
    55% {background-image: url('../img/Historias/historiasUsuarios/foto06.jpg');}
    65% {background-image: url('../img/Historias/historiasUsuarios/foto07.jpg');}
    75% {background-image: url('../img/Historias/historiasUsuarios/foto08.jpg');}
    85% {background-image: url('../img/Historias/historiasUsuarios/foto09.jpg');}
    95% {background-image: url('../img/Historias/historiasUsuarios/foto10.jpg');}
}

.footer
{
    bottom: 0px;
    height: 10%;
    width: 80%;
    border-left: #63EBC1;
    border-left-style: solid;
    border-right: #63EBC1;
    border-right-style: solid;
    border-top: #63EBC1;
    border-top-style: solid;
    border-width: 2px;
    background-color: #83C7EB;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer .ubicacion:hover
{
    animation-name: animacion;
    animation-duration: 2.5s;
}
@keyframes animacion
{
    0% {font-size: 1em; color: #3377FF }
    20%{font-size: 2em; color: #3377FF }
    35%{font-size: 3em; color: #54FF91}
    50%{font-size: 3em; color: #3377FF}
    65%{font-size: 2em; color: #3377FF}
    80%{font-size: 1em; color: #54FF91}
    95%{font-size: 1em;}
}
.logo img
{
    width: auto;
    height: 60px;
    text-align: left;
    font-size: 20px;
    float: left;
}
.copyR
{
    margin-top: 1em;
    
}
.ubicacion
{
    font-size: 1em;
    margin-top: 1em;
    cursor: default;
}