body
{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #3377FF;
    
}

@media screen and (min-width:1024px) 
{
  main
{
    height: auto;
    display: flex;
    
}
.header
{
    top: 0px;
    height: 10%;
    width: 100%;
    background-color: #B0FCFF;
    filter: brightness(70%);
    text-align: left;
    font-size: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.7);
    transition: 0.5s;
}
.header:hover
{
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 0.5s;
}
.header img
{
    width: 4%;
    height: auto;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
    cursor: pointer;
    transition: 0.5s;
}
.header img:hover
{
    background-color: #54FF91;
    border-radius: 10px;
    transform: scale(1.5);
    transition: 0.5s;
}

.header a
{
    cursor: default;
    text-decoration: none;
}
.contenedor
{
    margin: 10px;
    width: 70vw;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #83C7EB;
    background-color: #B0FCFF;
}
.contenedor2
{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 10px auto;
    width: 63vw;
    height: 100%;
    border-radius: 5px;
    border: 5px solid black;
    background-color: white;
}
.contenedor2:hover
{
    background-color:#B0FCFF;
    cursor: pointer;

} 
.nombre
{
 width: 10vh;   
}

.like
{
background-image: url(../img/iconos/Like.png);
background-repeat: no-repeat;
background-size: contain;
width: 5vw;
height: 5vh;
text-align: end;
}

.reenviar
{
    background-image: url(../img/iconos/reenviar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5vw;
    height: 5vh;
    text-align: end;
}
.comentar
{
    background-image: url(../img/iconos/comentar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5vw;
    height: 5vh;
    text-align: end;
}
.comentario
{
    width: 5vw;
    height: 5vh;
    text-align: justify;


}
.imagen1
{
    background-image: url(../img/Historias/historiasUsuarios/Foto01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen2
{
    background-image: url(../img/Historias/historiasUsuarios/Foto02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen3
{
    background-image: url(../img/Historias/historiasUsuarios/Foto03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen4
{
    background-image: url(../img/Historias/historiasUsuarios/Foto04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen5
{
    background-image: url(../img/Historias/historiasUsuarios/Foto05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}


.footer
{
    bottom: 0px;
    height: 10%;
    width: 80%;
    background-color: #B0FCFF;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(70%);
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
}
.footer .ubicacion:hover
{
    animation-name: animacion;
    animation-duration: 2.5s;
}
@keyframes animacion
{
    0% {font-size: 1em; color: #3377FF }
    20%{font-size: 2em; color: #83C7EB }
    35%{font-size: 3em; color: #54FF91}
    50%{font-size: 3em; color: #3377FF}
    65%{font-size: 2em; color: #83C7EB}
    80%{font-size: 1em; color: #54FF91}
    95%{font-size: 1em;}
}
.logo img
{
    width: auto;
    height: 60px;
    text-align: left;
    font-size: 20px;
    float: left;
}
.copyR
{
    margin-top: 1em;
    
}
.ubicacion
{
    font-size: 1em;
    margin-top: 1em;
    cursor: default;
}

}
@media screen and (max-width:1024px) and (min-width:640px) {
  main
{
    height: 100%;     
}

  .header
  {
      top: 0px;
      height: 10%;
      width: 100%;
      background-color: #B0FCFF;
      filter: brightness(70%);
      text-align: left;
      font-size: 30px;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0 1px 7px rgba(0,0,0,0.7);
      transition: 0.5s;
  }
  .header:hover
  {
      padding-top: 2%;
      padding-bottom: 2%;
      transition: 0.5s;
  }
  .header img
  {
      width: 4%;
      height: auto;
      text-align: left;
      margin-left: 10%;
      margin-top: 1%;
      cursor: pointer;
      transition: 0.5s;
  }
  .header img:hover
  {
      background-color: #54FF91;
      border-radius: 10px;
      transform: scale(1.5);
      transition: 0.5s;
  }
  
  .header a
  {
      cursor: default;
      text-decoration: none;
  }
  .contenedor
{
    margin: 10px;
    width: 70vw;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #83C7EB;
    background-color: #B0FCFF;
}
.contenedor2
{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 10px auto;
    width: 63vw;
    height: 100%;
    border-radius: 5px;
    border: 5px solid black;
    background-color: white;
}
.contenedor2:hover
{
    background-color:#B0FCFF;
    cursor: pointer;

} 

.nombre
{
 width: 10vh;   
}

.like
{
background-image: url(../img/iconos/Like.png);
background-repeat: no-repeat;
background-size: contain;
width: 5vw;
height: 5vh;
text-align: end;
}
.reenviar
{
    background-image: url(../img/iconos/reenviar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5vw;
    height: 5vh;
    text-align: end;
}
.comentar
{
    background-image: url(../img/iconos/comentar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 5vw;
    height: 5vh;
    text-align: end;
}
.comentario
{
    width: 5vw;
    height: 5vh;
    text-align: justify;


}
.imagen1
{
    background-image: url(../img/Historias/historiasUsuarios/Foto01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen2
{
    background-image: url(../img/Historias/historiasUsuarios/Foto02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen3
{
    background-image: url(../img/Historias/historiasUsuarios/Foto03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen4
{
    background-image: url(../img/Historias/historiasUsuarios/Foto04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
.imagen5
{
    background-image: url(../img/Historias/historiasUsuarios/Foto05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid #83C7EB;
}
  
.footer
{
    bottom: 0px;
    height: 10%;
    width: 80%;
    background-color: #B0FCFF;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(70%);
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
}
.footer .ubicacion:hover
{
    animation-name: animacion;
    animation-duration: 2.5s;
}
@keyframes animacion
{
    0% {font-size: 1em; color: #3377FF }
    20%{font-size: 2em; color: #83C7EB }
    35%{font-size: 3em; color: #54FF91}
    50%{font-size: 3em; color: #3377FF}
    65%{font-size: 2em; color: #83C7EB}
    80%{font-size: 1em; color: #54FF91}
    95%{font-size: 1em;}
}
.logo img
{
    width: auto;
    height: 60px;
    text-align: left;
    font-size: 20px;
    float: left;
}
.copyR
{
    margin-top: 1em;
    
}
.ubicacion
{
    font-size: 1em;
    margin-top: 1em;
    cursor: default;
}

}
@media screen and (max-width:640px) {
  main
{
  
    height: 100%;    
    
}

  .header
  {
      top: 0px;
      height: 10%;
      width: 100%;
      background-color: #B0FCFF;
      filter: brightness(70%);
      text-align: left;
      font-size: 30px;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0 1px 7px rgba(0,0,0,0.7);
      transition: 0.5s;
  }
  .header:hover
  {
      padding-top: 2%;
      padding-bottom: 2%;
      transition: 0.5s;
  }
  .header img
  {
      width: 4%;
      height: auto;
      text-align: left;
      margin-left: 10%;
      margin-top: 1%;
      cursor: pointer;
      transition: 0.5s;
  }
  .header img:hover
  {
      background-color: #54FF91;
      border-radius: 10px;
      transform: scale(1.5);
      transition: 0.5s;
  }
  
  .header a
  {
      cursor: default;
      text-decoration: none;
  }
  .contenedor
  {
      margin: 10px;
      width: 70vw;
      height: 100%;
      border-radius: 10px;
      border: 5px solid #83C7EB;
      background-color: #B0FCFF;
  }
  .contenedor2
  {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      margin: 10px auto;
      width: 63vw;
      height: 100%;
      border-radius: 5px;
      border: 5px solid black;
      background-color: white;

  }
.contenedor2:hover
{
    background-color:#B0FCFF;
    cursor: pointer;

}  
  .nombre
  {
   width: 10vh;   
  }
  
  .like
  {
  background-image: url(../img/iconos/Like.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5vw;
  height: 5vh;
  text-align: end;
  }
  
  .reenviar
  {
      background-image: url(../img/iconos/reenviar.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5vw;
      height: 5vh;
      text-align: end;
  }
  .comentar
  {
      background-image: url(../img/iconos/comentar.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5vw;
      height: 5vh;
      text-align: end;
  }
  .comentario
  {
      width: 5vw;
      height: 5vh;
      text-align: justify;
  
  
  }
  .imagen1
  {
      background-image: url(../img/Historias/historiasUsuarios/Foto01.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      border: 5px solid #83C7EB;
  }
  .imagen2
  {
      background-image: url(../img/Historias/historiasUsuarios/Foto02.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      border: 5px solid #83C7EB;
  }
  .imagen3
  {
      background-image: url(../img/Historias/historiasUsuarios/Foto03.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      border: 5px solid #83C7EB;
  }
  .imagen4
  {
      background-image: url(../img/Historias/historiasUsuarios/Foto04.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      border: 5px solid #83C7EB;
  }
  .imagen5
  {
      background-image: url(../img/Historias/historiasUsuarios/Foto05.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      border: 5px solid #83C7EB;
  }
  
  
  button
  {
    height: 10vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 20px;
    background-color: #63EBC1;
    border: 5px solid green;
  }
  
  button:hover
  {
   background-color: #54FF91;
   cursor: pointer;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
  }
  
  .footer
{
    bottom: 0px;
    height: 10%;
    width: 80%;
    background-color: #B0FCFF;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(70%);
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
}
.footer .ubicacion:hover
{
    animation-name: animacion;
    animation-duration: 2.5s;
}
@keyframes animacion
{
    0% {font-size: 1em; color: #3377FF }
    20%{font-size: 2em; color: #83C7EB }
    35%{font-size: 3em; color: #54FF91}
    50%{font-size: 3em; color: #3377FF}
    65%{font-size: 2em; color: #83C7EB}
    80%{font-size: 1em; color: #54FF91}
    95%{font-size: 1em;}
}
.logo img
{
    width: auto;
    height: 60px;
    text-align: left;
    font-size: 20px;
    float: left;
}
.copyR
{
    margin-top: 1em;
    
}
.ubicacion
{
    font-size: 1em;
    margin-top: 1em;
    cursor: default;
}
}